.indexWrapper {
  display: flex;
  padding-top: 150px;
  padding-right: 162px;
}

.rightWrapper {
  background-color: rgba(50, 38, 89, .2);
  border-radius: 30px;
  margin-left: auto;

  width: 386px;
  height: 650px;
}

.rightWrapper div:first-of-type{
background-color: black;
width: 386px;
padding-right: 42px;
padding-left: 42px;
height: 230px;
border-radius: 30px;
padding-top: 50px;
padding-bottom: 42px;
}

.rightWrapper div:first-of-type p:first-of-type {
  font-size: 24px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.92);
}

.rightWrapper div:first-of-type p:nth-of-type(2) {
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.48);
}


.rightWrapper div:first-of-type button:first-of-type {
  width: 302px;
  height: 50px;
  background: linear-gradient(45deg, #3182ce, #97266d);
  font-size: 14px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
}



.rightWrapper div:nth-of-type(2) {
  padding-top: 42px;
  padding-left: 42px;
  padding-right: 42px;
}

.rightWrapper div:nth-of-type(2) p:first-of-type{
  font-size: 20px;
  font-weight: 300;

}

.rightWrapper div:nth-of-type(2) p:nth-of-type(2){
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.36);
  padding-bottom: 3px;
}

.rightWrapper div:nth-of-type(2) button{
  background-color: #000000;
  border: 1px solid white;
  color: #ffffff;
  width: 302px;
  height: 52px;
}

.rightWrapper div:nth-of-type(3) {
  padding-top: 42px;
  padding-left: 42px;
  padding-right: 42px;
}

.rightWrapper div:nth-of-type(3) p:first-of-type {
  font-size: 20px;
  font-weight: 300;

}

.rightWrapper div:nth-of-type(3) p:nth-of-type(2) {
font-size: 12px;
font-weight: 400;
color: rgba(255, 255, 255, 0.36);
padding-bottom: 8px;
}

.rightWrapper div:nth-of-type(3) button {
  background-color: #000000;
  border: 1px solid white;
  color: #ffffff;
  width: 302px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.blob {
  position: absolute;
  top: 20%;
  left: 40%;
  z-index: -1;
}

