.projectTrackWrapper h1{
  font-size: 20px;
  padding-bottom: 12px;
  }
  
.subtitle {
    padding-bottom: 49px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.48);
  }

  .subtitle a {
  text-decoration: underline;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.48);
  }


  .subtitle a:hover {
 color: white;
    }

.tracksWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 60px;
}


.tracks label {
  padding-left: 30px;

}

.tracks input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 20px;
  height: 20px;
  border: 3px solid #4A5568;
  background-color: black;
  border-radius: 50%;
  transform: translateY(21px);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.tracks input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgba(74, 85, 104, .8);
}


.tracks input[type="radio"]:checked::before {
  transform: scale(1);
}

.tracks ul {
  padding-left: 55px;
  padding-top: 5px;
}

.tracks li {
  max-width: 280px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.64);
}