.memo {
  position: relative;
}

.previousGrants {
  position: relative;
  margin-top: 50px;
  padding-bottom: 50px;
}

.previousGrants p {
  top: -55px;
  position: absolute;
  color: rgba(255, 255, 255, 0.24);
  font-size: 14px;
}

.checkboxWrapper {
  position: absolute;
  display: flex;
  gap: 10px;
  font-size: 10px;
  top: -25px;
}
