.projectInformationWrapper h1{
    font-size: 20px;
    padding-bottom: 66px;

}

.projectInformationWrapper label {
  font-size: 18px;
}

.projectInformationWrapper input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.92);
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-top: none;
  padding: 10px 0;
  color: white;
  width: 100%;
}

.projectInformationWrapper input[type='number']::-webkit-inner-spin-button,
.projectInformationWrapper input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.projectInformationWrapper input::placeholder{
  font-size: 14px;
}

.progressBarWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.48);

}

.progressBar {
  width: 275px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.16);
  }
  

.firstTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
  padding-bottom: 12px;
}

.inputDescription {
color: rgba(255, 255, 255, 0.48);
font-size: 12px;
padding-top: 12px;
}

.secondSection {
  padding: 48px 0;
  display: flex;
  gap: 16px;
}

.secondSection div {
  max-width: 360px;
}

.secondSection p {
  padding-top: 12px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.64);

}

.lastSection p {
  padding-top: 12px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.64)
}

.inputDescription {
  color: rgba(255, 255, 255, 0.48);
  font-size: 12px;
  padding-top: 12px;
  }