.projectImpactWrapper label {
  font-size: 20px;
  padding-bottom: 12px;
}

.inputDescription{
  padding-top: 12px;
  padding-bottom: 24px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.48);
}

.projectImpactWrapper textarea {
  border-bottom: 1px solid rgba(255, 255, 255, 0.92);
  background-color: #000000;
  border-right: none;
  border-left: none;
  border-top: none;
  color: white;
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: #0000007A;
  resize: none;
  color: rgba(255, 255, 255, 0.36);
}

.projectImpactWrapper textarea::-webkit-scrollbar {
  display: none;
}


.progressBarWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.48);
  justify-content: flex-end;

}

.progressBar {
  width: 260px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.16);
  }

  .secondSection {
    padding-top: 79px;
  }