.wishlistWrapper {
  width: 800px;
}

.wishlistWrapper h1{
font-size: 20px;
padding-bottom: 12px;
}

.wishlistWrapper p:first-of-type {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.48);
}

.fields {
display: flex;
gap: 15px;
padding-top: 48px;
}

.fields div {
  display: flex;
  flex-direction: column;
}

.fields div p {
  border-bottom: 1px solid rgba(255, 255, 255, 0.92);
  background-color: rgba(0, 0, 0, 0.48);
  border-right: none;
  border-left: none;
  border-top: none;
  padding: 10px 0;
  color: white;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}




.fields label {
  font-size: 12px;
  padding-bottom: 8px;
}

.fields input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.92);
  background-color: rgba(0, 0, 0, 0.48);
  border-right: none;
  border-left: none;
  border-top: none;
  padding: 10px 0;
  color: white;
  width: 360px;

}

.fields input::placeholder {
  font-size: 14px;
}

.svg {
  position: relative;
  bottom: 35px;
  left: 325px;
}

.addressMemo {
  display: flex;
  gap: 15px; 
  padding-top: 48px;
  padding-bottom: 16px;
}

.addressMemo div {
  gap: 20px;
}

.addressMemo div:first-of-type{
display: flex;
flex-direction: column;
width: 100%;
max-width: 460px;
}

.addressMemo div:nth-of-type(2){
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 260px;
  }

.addressMemo div input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.92);
  background-color: rgba(0, 0, 0, 0.48);;
  border-right: none;
  border-left: none;
  border-top: none;
  padding: 10px 0;
  color: white;
}

.addressMemo div input::placeholder {
  font-size: 14px;
}

.addressMemo div label {
  font-size: 14px;
}

.noMemoConfirmation {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}

