.track {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.radio {
  min-width: 330px;
  display: flex;
  gap: 12px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  align-items: center;
  padding-bottom: 10px;
}

.list {
  color: rgba(255, 255, 255, 0.36);
  font-size: 12px;
  padding-left: 50px;
}
