.radioWrapper {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.radioWrapper p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.24);
}

.radio {
  display: flex;
  gap: 12px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  align-items: center;
  padding-bottom: 10px;
}
