.layoutWrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 10px;
  padding-left: 20px;
}

.layoutWrapper div:first-of-type(div) {
  display: flex;
  flex-direction: column;
}

.layoutWrapper div:first-of-type p:first-of-type {
  text-transform: uppercase;
  padding-top: 5px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.48);
}

.layoutWrapper div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.layoutWrapper div:nth-of-type(2) p:first-of-type {
  display: flex;
  align-items: center;
  gap: 5px;
}

.layoutWrapper div:nth-of-type(2) span {
  display: block;
  border: 1px solid white;
  width: 25px;
  align-self: flex-end;
}

.progressBar {
  height: 5px;
  background-color: rgba(255, 255, 255, 0.06);

}

.close {
  cursor: pointer;
}
