.button button {
	width: 200px;
		height: 50px;
		background: linear-gradient(45deg, #3182ce, #97266d);
		border: 1px solid white;
		display: flex;
		justify-content: center;
		align-items: center;
    color: #ffffff;
    border-radius: 4px;
    gap: 5px;
    font-size: 14px;
}