.calendarDropdownButton {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border:  1px solid rgba(255, 255, 255, 0.36);
  border-radius: 5px;
  display: flex;
align-items: center;
justify-content: space-between;
  padding: 8px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.36);
  cursor: pointer;
}

.show {
  position: absolute;
}

.hide {
  display: none;
}
