.formWrapper {
  margin-left: 100px;
}

.titleWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.title {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding-bottom: 10px;
}

.description {
  color: rgba(255, 255, 255, 0.48);
  font-size: 14px;
}

.button button {
  position: absolute;
  font-weight: 600;
  margin-left: 50px;
  width: 200px;
  height: 50px;
  background: linear-gradient(45deg, #3182ce, #97266d);
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 4px;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
}
