.inputWrapper {
  padding: 10px;
  margin: 25px;
  color: rgba(255, 255, 255, 0.8);
}

.input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.92);
  background-color: rgba(0, 0, 0, 0.48);

  border-right: none;
  border-left: none;
  border-top: none;
  padding: 10px 0;
  color: white;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: 0.2s;
}

.input:hover {
  outline: 1px solid grey;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.input:focus {
  outline: 1px solid #3182ce;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding-bottom: 8px;
  color: rgba(255, 255, 255, 0.8);
}

.description {
  padding-top: 10px;
  line-height: 150%;
  font-size: 12px;
  padding-bottom: 50px;
  color: rgba(255, 255, 255, 0.64);
}

.progressWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.64);
}

.progressBar {
  position: relative;
  width: 280px;
  height: 8px;
  border: 1px solid #333;
}

.filler {
  background: linear-gradient(45deg, #3281cd, #96286f);
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

.inputImage {
  position: absolute;
  left: 90%;
  bottom: 10px;
}
