.modalWrapper {
  width: 400px;
  height: 620px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  z-index: 1;
border-radius: 15px;
}

.modalWrapperHide {
display: none;
}

.stacksLogo {
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;


}

.titleSuccess {
  font-size: 48px;
  color: white;
  background-image: linear-gradient(90deg, #007CF4, #EF00A5);
  background-size: 100%;
  background-repeat: repeat;
  padding: 28px 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.titleError {
  font-size: 48px;
  color: #ffffff;
  padding: 28px 0;
}

.modalWrapper p:nth-of-type(2)  {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 12px;
}

.modalWrapper p:nth-of-type(3) {
  font-size: 14px;
  padding-bottom: 12px; 
  padding-right: 43px;
  padding-left: 43px;

}

.modalWrapper a p:first-of-type {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.36);

}

.modalWrapper button {
  background: none;
  border: none;
  color: #718096;
  font-weight: 500;
  margin-top: 64px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}
