.textareaWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.label {
  display: flex;
  font-size: 12px;
  gap: 5px;
  color: rgba(255, 255, 255, 0.24);
}

.label p {
  color: rgba(255, 255, 255, 0.24);
}

.textarea {
  position: relative;
}
.textarea textarea {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.92);
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-top: none;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: 0.2s;
}

.textarea textarea:hover {
  outline: 1px solid grey;
  border: none;
  border-radius: 10px;
}

.textarea textarea:focus {
  outline: 1px solid #3182ce;
  border: none;
  border-radius: 10px;
}

.image {
  position: absolute;
  right: 0;
  bottom: 7px;
  padding-right: 10px;
}

.progressWrapper {
  position: absolute;
  right: 0;
  bottom: 110;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.64);
}

.progressBar {
  position: relative;
  width: 280px;
  height: 10px;
  border: 1px solid #333;
}

.filler {
  background: linear-gradient(45deg, #3281cd, #96286f);
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

/* width */
.textareaWrapper textarea::-webkit-scrollbar {
width: 10px;
}

/* Track */
.textareaWrapper textarea::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 3px;

}

/* Handle */
.textareaWrapper textarea::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.16);
  border-radius: 30px;

}

/* Handle on hover */
.textareaWrapper textarea::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);;

}

