
.paymentNotesWrapper h1{
  font-size: 20px;
  padding-bottom: 12px;
  }

  .subtitle {
    padding-bottom: 49px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.48);
  }

  .paymentNotesWrapper ul {
    padding-left: 18px;
    font-size: 16px;
  }

  .paymentNotesWrapper ul li {
    padding-bottom: 36px;
  }

 