.applicationWrapper {
  margin: 0 15px;
  padding-bottom: 50px;
}

.mainComponents {
  display: flex;
  max-width: 700px;
  transition: 1000ms;
}

.middleComponent {
  padding: 0 10px;
}

.stacksSVG {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.button button {
  width: 200px;
  height: 50px;
  background: linear-gradient(45deg, #3182ce, #97266d);
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 4px;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
}
