.gradientBackground {
  background: -webkit-linear-gradient(
    bottom,
    rgb(16, 11, 31) 0%,
    rgb(0, 0, 0) 100%
  );
  background: -o-linear-gradient(bottom, rgb(16, 11, 31) 0%, rgb(0, 0, 0) 100%);
  background: -ms-linear-gradient(
    bottom,
    rgb(16, 11, 31) 0%,
    rgb(0, 0, 0) 100%
  );
  background: -moz-linear-gradient(
    bottom,
    rgb(16, 11, 31) 0%,
    rgb(0, 0, 0) 100%
  );
  background: linear-gradient(to top, rgb(16, 11, 31) 0%, rgb(0, 0, 0) 100%);
}

.indexWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 110px;
  max-width: 1000px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}

.indexWrapper button {
  cursor: pointer;
}

.indexWrapper h1 {
  color: rgba(255, 255, 255, 0.92);
  font-size: 84px;
  font-weight: 800;
  max-width: 753px;
  line-height: 90px;
  padding-bottom: 16px;
}

.leftWrapper p:nth-of-type(2) {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  max-width: 443px;
  color: #718096;
  padding-bottom: 16px;
}

.mainBodyText {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  max-width: 443px;
  color: #A0AEC0;
}

.mainBodyText p:first-of-type {
  display: inline;
}


.highlightedWords{
  width: fit-content;
  display: inline-block;
position: relative;
padding: 0px 10px;

}

.highlightedWords::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(45deg, #3381cc, #96286f) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.foundation {
  color:#A0AEC0;
  font-size: 32px;
}

.rightWrapper {
padding-top: 200px;
}


.firstSection {
  background-color: rgba(0, 0, 0, 0.64);
  width: 100%;
  padding-right: 42px;
  padding-left: 42px;
  height: 210px;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 42px;
}

.firstSection div:first-of-type {
  padding-bottom: 28px;
}

.firstSection div p:first-of-type {
  font-size: 24px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.92);
}

.firstSection div p:nth-of-type(2) {
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 5px;
  color: rgba(255, 255, 255, 0.48);
}

.firstSection div:first-of-type button:first-of-type {
  width: 302px;
  height: 50px;
  background: linear-gradient(45deg, #3182ce, #97266d);
  font-size: 14px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.firstSection div:nth-of-type(2) button:first-of-type {
  width: 302px;
  height: 50px;
  background: #000000;
  font-size: 14px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.36);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.secondSection {
  margin-right: auto;
padding-bottom: 8px;
  width: 150px;
}

.secondSection p {
  color: #000000;
  font-size: 11px;
  letter-spacing: -0.75px;
  padding-bottom: 2px;
}

.secondSection button {
  width: 100%;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.64);
  font-weight: 400;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.24);
border:  none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  letter-spacing: 0.75px;
}

.externalLinkIcon {
  width: 10px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(360deg)
    brightness(101%) contrast(103%);
  opacity: 24%;
}

.blob {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: -1;
}

.utilities {
position: fixed;
bottom: 10px;
left: 16px;
 height: 36px;
 width: 90px;
 border: none;
 background: rgba(0, 0, 0, 0.36);
 border-radius: 5px;
 font-size: 10px;
 line-height: 15px;
 text-transform: uppercase;
color: rgba(255, 255, 255, 0.24);
text-align: center;
padding: 6px;
}

.githubLogo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(97deg)
    brightness(105%) contrast(101%);
}

@media(max-width: 800px) {
  .indexWrapper {
    flex-direction: column;
    padding-top: 0;
  }
  
  .rightWrapper {
    padding-top: 50px;
    }

    .firstSection {
      background-color: rgba(0, 0, 0, 0.64);
    width: 75%;
    margin: auto;
    padding-right: 42px;
    padding-left: 42px;
    height: 210px;
    padding-top: 40px;
    padding-bottom: 42px;
    text-align: center;

    }

    .firstSection div:first-of-type p:nth-of-type(2) {
      padding-bottom: 10px;
    }

.firstSection div:first-of-type button:first-of-type {
  width: 225px;
  height: 50px;
  background: linear-gradient(45deg, #3182ce, #97266d);
  font-size: 14px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
margin: auto;
  align-items: center;
  gap: 10px;
  justify-content: center;
}


}

@media(max-width: 489px) {
  .indexWrapper h1 {
    font-size: 50px;
    line-height: 70px;
    padding-bottom: 10px;
  }

  .mainBodyText {
    font-size: 25px;
  }


  .firstSection {
    height: 250px;
    width: 80%;
padding: 0;
  }

  .firstSection div:first-of-type {
    padding-top: 40px;
  }

  .firstSection div:first-of-type button:first-of-type {
    max-width: 100%;
  }
}
