.indexWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 110px;
  max-width: 1000px;
  margin: auto;
}

.indexWrapper button {
  cursor: pointer;
}

.indexWrapper h1 {
  color:rgba(255, 255, 255, 0.92);
  font-size: 84px;
  font-weight: 800;
  max-width: 753px;
  line-height: 90px;
  padding-bottom: 42px;
}

.leftWrapper p:nth-of-type(2){
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  max-width: 291px;
  color: #4A5568;
  padding-bottom: 7px;
}
.leftWrapper p:nth-of-type(3){
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  max-width: 443px;
  color: #718096;
}


.highlightedWords{
position: relative;
padding: 0px 10px;
}

.highlightedWords::before{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px; 
  padding: 2px;
background: linear-gradient(45deg,#3381CC,#96286F) border-box;
-webkit-mask: 
linear-gradient(#fff 0 0) content-box, 
linear-gradient(#fff 0 0);
-webkit-mask-composite: xor;
     mask-composite: exclude; 
}

.foundation {
  color: #171923;
  font-size: 32px;

}

.rightWrapper {
  background-color: rgba(50, 38, 89, .2);
  border-radius: 30px;
  width: 386px;
  height: 720px;
}



.firstSection {
background-color: black;
width: 386px;
padding-right: 42px;
padding-left: 42px;
height: 380px;
border-radius: 30px;
padding-top: 50px;
padding-bottom: 42px;
}

.firstSection div:first-of-type {
  padding-bottom: 28px;
}

.firstSection div p:first-of-type {
  font-size: 24px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.92);
}

.firstSection div p:nth-of-type(2) {
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.48);
}


.firstSection div:first-of-type button:first-of-type {
  width: 302px;
  height: 50px;
  background: linear-gradient(45deg, #3182ce, #97266d);
  font-size: 14px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.firstSection div:nth-of-type(2) button:first-of-type {
  width: 302px;
  height: 50px;
  background: #000000;
  font-size: 14px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.36);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.firstSection div p:nth-of-type(3) {
  color: #553C9A;
  font-size: 12px;
  letter-spacing: -1.5px;
}

.secondSection div:nth-of-type(1) {
  padding-top: 42px;
  padding-left: 42px;
  padding-right: 42px;
}

.secondSection div:nth-of-type(1) p:first-of-type{
  font-size: 20px;
  font-weight: 300;

}

.secondSection div:nth-of-type(1) p:nth-of-type(2){
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.36);
  padding-bottom: 3px;
}

.secondSection div:nth-of-type(1) button{
  background-color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.36);
  border-radius: 5px;
  color: #ffffff;
  width: 302px;
  height: 52px;
}

.secondSection div:nth-of-type(2) {
  padding-top: 42px;
  padding-left: 42px;
  padding-right: 42px;
}

.secondSection div:nth-of-type(2) p:first-of-type {
  font-size: 20px;
  font-weight: 300;

}

.rightWrapper div:nth-of-type(2) p:nth-of-type(2) {
font-size: 12px;
font-weight: 400;
color: rgba(255, 255, 255, 0.36);
padding-bottom: 8px;
}

.secondSection div:nth-of-type(2) button {
  background-color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.36);
  border-radius: 5px;
  color: #ffffff;
  width: 302px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.blob {
  position: absolute;
  top: 20%;
  left: 40%;
  z-index: -1;
}


.paymentConverterButton {
position: absolute;
bottom: 16px;
left: 16px;
 height: 36px;
 width: 120px;
 border: 1px solid white;
 background: linear-gradient(45deg, #3182ce, #97266d);
 border-radius: 5px;
 font-size: 10px;
 line-height: 10px;
 font-weight: 500;
color: #ffffff;
display: flex;
align-items: center;
padding: 6px;
}

.stacksLogo {
  width: 30px;
}

.githubLogo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(97deg) brightness(105%) contrast(101%);
}