.bountiesBody {
  background: linear-gradient(to bottom right, #3a0f06, #050622);
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1060px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  z-index: 1 !important;
  padding: 0 30px;
}

@media screen and (max-width: 375px) {
  .container {
    padding: 0 15px;
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  position: relative;
}

.bannerLeft {
  z-index: 111;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 89px;
}

.buttons button {
  background: #000;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.36);
  border: none;
  outline: none;
  padding: 10px;
  width: 80px;
  cursor: pointer;
}

.active {
  color: rgba(255, 255, 255, 0.92) !important;
}

.textTop {
  font-size: 29px;
  margin: 0;
  font-family: "Open Sauce One";
  font-style: normal;
  font-weight: 300;
  letter-spacing: -1.5px;
  color: #ffffff;
}

.textBottom {
  max-width: 570px;
  font-family: "Open Sauce One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1px;
}

.bannerLeft h1 {
  font-family: "OpenSauceOne-Bold";
  font-size: 84px;
  font-weight: 700;
  letter-spacing: -1.5px;
}

@media screen and (max-width: 979px) {
  .bannerLeft h1 {
    font-family: "OpenSauceOne-Bold";
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -1.5px;
  }
  .textTop {
    font-size: 24px;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 100;
  }
}

.cardsWrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;
}

@media screen and (max-width: 980px) {
  .cardsWrapper {
    justify-content: center;
  }
}

.noOpenBountiesContainer {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 28px;
  padding: 30px;
  max-width: 800px;
  margin-bottom: 30px;
  margin: auto;
}

.noOpenBountiesContainer p {
  font-size: 24px;
  line-height: 36px;
}